*{
  margin:0;
  padding:0;
}

/* font- face *********************************/

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/Oswald/oswald-regular-webfont.eot');
    src: url('../fonts/Oswald/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald/oswald-regular-webfont.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/Oswald/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'yesteryearregular';
    src: url('../fonts/Yesteryear/yesteryear-regular-webfont.eot');
    src: url('../fonts/Yesteryear/yesteryear-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Yesteryear/yesteryear-regular-webfont.woff2') format('woff2'),
         url('../fonts/Yesteryear/yesteryear-regular-webfont.woff') format('woff'),
         url('../fonts/Yesteryear/yesteryear-regular-webfont.svg#yesteryearregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* animaciones ********************************/
@-webkit-keyframes rodar{
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}
@-webkit-keyframes appear{
  0% { opacity:0;
        left:80px;
      }
  100% {opacity:1;
        left:50px;
      }
}
@-webkit-keyframes appear-title{
  0% { opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fade{
  0%{/*-webkit-transform:scale(0.2,0.2);*/
  opacity: 0;
  }
  100%{/*-webkit-transform:scale(1,1);*/
  opacity:1;
  }
}

  .container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
  }
  .main-structure{
    width:100%;
    height: 80%;
    position: relative;
  }
  #name-block{
    height: 100%;
    width:55%;
    background: white;
    position: relative;
    float:left;
    overflow:hidden;
  }
  .content-block{
    height: 100%;
    width:45%;
    background: #e8ab21;
    position: relative;
    float:left;
    overflow:hidden;
    z-index:2;

  }
  .separator{
    height: 30px;
    width:100%;
    background:black;
    display: block;
    position:relative;
  }
  footer{
    background:#647be8;
    height:100%;
    width:100%;
    display: block;
    position:relative;
  }

  .menu-list{
    -webkit-animation: appear 1s ease-in-out;
    list-style: none;
    font-family: 'oswaldregular', sans-serif;
    position: relative;
    top: 150px;
    left: 50px;
    display: inline-block;
  }
  .menu-list li{
    margin: 10px 0px;
  }
  .menu-list a:hover{
    color:#e8880d;
    cursor:pointer;
  }


  .menu-list a{
    color: #ffffff;
    font-size:30px;
    text-decoration: none;
  }
  /*  menu */
  .symbols {
  font-size: 50px;
  color: #e8880d;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: center;
  }
  .servicios{
    float:left;
    margin:0px 5px;
  }
  .servicios span{
    font-size: 18px;
    font-family: 'oswaldregular',sans-serif;
    display: block;
    opacity:0;
  }
  .servicios:hover span{
    opacity:1;
    -webkit-transition:all .3s ease-in-out;
  }
  #productos .min-img,#logotipos .min-img,#webs .min-img ,#colaboraciones .min-img ,#carteles .min-img {
      margin: 20px;
      background: #ffffff;
      border: 2px solid #ececec;
      border-radius: 5px;
      -webkit-transition:all .3s ease-in-out;
  }
  #productos .min-img:hover,#logotipos .min-img:hover,#webs .min-img:hover, #colaboraciones .min-img:hover,#carteles .min-img:hover {
      box-shadow:0px 0px 15px rgba(0,0,0,.3);
      -webkit-transition:all .3s ease-in-out;
  }


  #circulo{
    position: absolute;
    position: absolute;
    top: 190px;
    left: 210px;
    opacity:.4;
    width: 200px;
    height: 200px;
  }

  #circulo-lineal1{
      -webkit-animation-name: rodar;
      -webkit-animation-duration: 20s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      opacity: .3;
      position: absolute;
      top: 0px;
      height: 500px;
      width:500px;
  }
  #circulo-lineal2{
      -webkit-animation-name: rodar;
      -webkit-animation-duration: 20s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      opacity: .3;
      position: absolute;
      left: 150px;
      top: 0px;
      overflow: visible;
      height: 900px;
      width:900px;
  }
  #triangulo{

    position: absolute;
    top: 160px;
    left: 110px;
    z-index: 1;
    height: 210px;
    width:500px;
  }
  #cuadrado{
    position: absolute;
    position: absolute;
    top: 230px;
    left: 290px;
    opacity:.4;
    -webkit-transform: rotate(45deg);
    width: 150px;
    height: 150px;
  }
  .name{
    position: relative;
    top: 250px;
    left: 270px;
    font-size: 96px;
    z-index: 2;
    font-family: 'yesteryearregular', cursive;
  }
  /* productos list y block */
  #productos,#logotipos,#webs,#colaboraciones,#carteles,#videos,#realidad{
    height: 100%;
    overflow-y:auto;
  }


  /* footer links */
  #external-links{
    margin-right: 20px;
  }
  .e_links{
    list-style:none;
    float:right;
    position: relative;
    top: 25px;
  }
  .e_links li{
    float:left;
  }
  .e_links a{
    color: #ffffff;
    font-size:36px;
    padding: 0px 2px;
  }
  .e_links a:hover{
    color:#344388;
  }

  .content{
    -webkit-animation: fade .5s ease-in-out;
    position: relative;
    margin: 2% auto;
    display: block;
    width:800px;
    height: auto;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);

  }
  .content img{
  /*  width:100%;
    height:auto;*/
  }
  .preview{
    background: #ffa500;
    color: #ea6415;
    border-radius: 5px;
    border-bottom: 2px solid #ea6415;
    border-right: 2px solid #ea6415;
    padding: 5px 10px;
    text-decoration: none;
  }
  .preview:hover{
    background: #ea6415;
    color:#ffffff;
  }

#content-h1 h1{
  -webkit-animation:appear-title 1s ease-in-out;
}
/* */


/* content block */

#home {
    position: relative;
    height: 100%;
    width: auto;
}
/* menu */
#block-menu{
  position: relative;
  display: block;
  height: 100%;
  width: auto;
}

.volver{
  color:#e8880d !important;
}
.volver_listado{
  color: #ec391a !important;
  padding: 10px 20px;
  font-family: 'oswaldregular',sans-serif;
  font-size: 20px;
  text-decoration: none;
  clear:both;
  width:30%;
  display: inline-block;
}
/* menu */

/* */

#portfolio{
  height: 100%;
  width:auto;
}

/* */




/* pop up image  */
.item{
  -webkit-animation: fade 1s ease-in-out;
  display: inline-block;
  float:left;
  cursor:pointer;
}

.ampliar-foto{
  box-shadow: 0px 0px 250px 50px rgba(0,0,0,.5) inset;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  overflow: hidden;
  z-index: 99;
  display: block;
  overflow-y: scroll;

}

.pop-text{
  position: relative;
/*  -webkit-animation: pop-img .5s ease-in-out;*/
  display: block;

  margin: 0 auto;
  font-family: 'oswaldregular', sans-serif;
  text-align: center;
/*  background: #ffffff;
  padding: 10px;
  border: 5px solid #f7f7f7;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);*/
}

.pop-image{
  position: relative;

  display: block;
  margin: 0 auto;
  width:auto;


/*  background: #f7f7f7;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);*/
}

.btn{
  padding: 5px;
  color: #ffffff;
  background: #000000;
  border-radius: 100%;
  display: block;
  /* clear: both; */
  /* margin-top: 10px; */
  float: right;
  cursor: pointer;
  position: relative;
  top: -32px;
  right: -30px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
}
.btn i{
  position:relative;
  display:block;
  margin:0 auto;
  padding-left:3px;

}
.btn:hover i{
  -webkit-transform:rotateZ(90deg);
  -webkit-transition:all .3s ease-in-out;
}



/* logotipos */

/* scrollbar */
.content-block div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #dea113;
}

.content-block div::-webkit-scrollbar
{
	width: 12px;
	background-color: #d8800f;
}

.content-block div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b37008;
}
.hide{
  display: none;
}

#videos .min-img {
    margin: 17px;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    float: left;
    width: 250px;
  }
#videos .pop-text{
  margin-top:10px;
}

#realidad .min-img {
    background: #ffffff;
    padding: 6px;
    margin: 10 28px;
    border-radius: 5px;
}

.texto_bienve {
  -webkit-animation:appear-title 3s ease-in-out;
    position: relative;
    top: 260px;
    left: 190px;
    font-family: 'oswaldregular';
    font-size: 20px;
    color: #353230;
    width: 500px;
    z-index:9;
}
@-webkit-keyframes bounce{

		0% {-webkit-transform:translateY(0%);}
		25% {-webkit-transform:translateY(-10%);}
		50% {-webkit-transform:translateY(0%);}
		75% {-webkit-transform:translateY(-5%);}
		100% {-webkit-transform:translateY(0%);}

					}
#bio{
  margin-top: 5%;
}
#bio img{
  margin: 5px;

}
#bio img:hover{
  -webkit-animation:bounce .3s ease-in-out;
}

/*   */

.bloque_form2{
  padding:20px;
}
.bloque_form2 div {
    width: 100%;
}

input[type='text'],input[type='email']{
  -webkit-appearance:none;
  border:2px solid #f7f7f7;
  border-radius:5px;
  height:30px;
  padding: 0px 5px;
  width: 100%;
  margin: 5px 0px;
}
input[type='submit']{
  border:none;
  background:green;
  padding: 10px 20px;
  border-radius:5px;
  font-family:'oswaldregular';
  color:white;
  margin-top: 5px;
}
input[type='reset']{
  border:none;
  background:red;
  padding: 10px 20px;
  border-radius:5px;
  font-family:'oswaldregular';
  color:white;
  margin-top: 5px;
}
textarea{
  -webkit-appearance:none;
  border:2px solid #f7f7f7;
  border-radius:5px;
  height:60px;
  padding: 0px 5px;
  width: 100%;
  margin:5px 0px;
}

.bloque_form1 h3, .bloque_form2 label{
  font-family:'oswaldregular';
}
#contacto{
  font-family: 'oswaldregular';
}
.img_contact{
  background:#ffffff;
  border-radius:100%;
}
.contact_h3{
  margin-top: 5px;
font-size: 24px;
opacity: 0;

  -webkit-transition:all 1s ease-in-out;
}
.bloque_form1 div {

    position:relative;
    display:block;
    margin: 10px auto;

    text-align:center;
    width:100%;
}
@-webkit-keyframes girar{
  0%{-webkit-transform:rotateY(0deg)}
  100%{-webkit-transform:rotateY(360deg)}
}
.bloque_form1 img{

  height:150px;
  width:150px;
}
.bloque_form1:hover img{
  -webkit-animation:girar 1s ease-in-out;
}
.bloque_form1:hover h3{
  -webkit-transition:all 1s ease-in-out;
  opacity:.5;
}
